.student-wrapper {
    background-color: #3E5879;
    padding: 10px;
    flex: 0;
    box-shadow: 2px 1px 1px 3px #262857;
    border-radius: 20px;
    margin: 0;
}

.student-wrapper h1 {
    margin: 15px 0;
    font-size: 40px;
    padding: 0;
    color: #F8FAFC;
}
.student-wrapper p {
    margin: 15px 0;
    font-weight: 500;
    font-size: 20px;
    color: #f3f0ed;
    line-height: 1.6;
}
.student-wrapper p span {
    font-weight: bold;
}
.student-wrapper p span.yes {
    color: rgb(11, 184, 11);

}
.student-wrapper p span.no {
    color: yellow;
}
.student-wrapper button {
    background-color: #496181;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 1px 1px #262857;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
}
.student-wrapper button:hover {
    box-shadow: none;
}
.student-wrapper button:last-of-type {
    width: 60px;
    border-radius: 20px;
}
.student-wrapper > button {
    margin-right: 10px;
}
.delete {
    cursor:  pointer;
    transition: 0.3s;
}
.delete:hover {
    transform: scale(1.1);
}
.student-wrapper ul {
    margin: 0 auto;
}
.student-wrapper .std-details {
    background-color: #fff;
    color: #262857;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    display: block;
    width: fit-content;
    margin: 0 auto 20px;
}

