form {
    background-color: #BCCCDC;
    padding: 10px 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    margin: 0 auto;
    border-radius: 20px;
}
form #courseName {
    margin: 0;
    margin-left: 10px;
}
form label {
    color: #3E5879;
    font-weight: 900;
}
form div {
    width: 100%;
    margin-top: 10px;
}
form  .add-course {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #3E5879 !important;
    box-shadow: 1px 1px 1px 1px #262857;
    border: none !important;
    border-radius: 10px !important;
} 
form  .add-course:hover {
    box-shadow: none;
    opacity: 1 !important;
}
ul {
    margin: 0 auto;
    width: 400px;
}
.form-list {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.delete-course {
    align-self: flex-end;
    position: absolute;
    left: 40px;
    cursor: pointer;
    transition: 0.3s;
}
.delete-course:hover {
    transform: scale(1.1);
}