#root {
  width: 600px;
  padding: 20px 10px;
  margin: auto;
  text-align: center;
  border: 5px solid #3E5879;
  background-color: #BCCCDC;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.hide, .show, a {
  cursor: pointer;
  background-color: #3E5879;
  box-shadow: 1px 1px 1px 1px #262857;
  color: #fff;
  border: none;
  border-radius: 15px;
  transition: 0.3s;
  text-decoration: none;
}
nav {
  border-top: 3px solid #262857;
  border-bottom: 3px solid #262857;
  height: 40px;
  display: flex;
  align-items: center;
}
nav a {
  margin-right: 10px;
  width: 100px;
  height: 100%;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hide:hover, .show:hover,:hover {
  box-shadow: none;
}
h2 {
  text-align: left;
  margin-left: 20px;
  color: #777;
  font-size: 16px;
}
.search {
  width: 100%;
  text-align-last: left;
  margin-bottom: 20px;
  margin-left: 20px;
}
.search input {
  height: 25px;
}
.search input:focus {
  border: 2px solid #3E5879;
  outline: none;
}








